<!-- About Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Dan</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="team-member text-center">
                        <img src="img/team/dan.jpg" class="img-responsive img-circle" alt="">
                        <h4>Dan Lester</h4>
                        <p class="text-muted">Founder and Lead Developer</p>
                        <ul class="list-inline social-buttons">
                          <li>
                            <a href="http://twitter.com/danlester">
                                <i class="fa fa-twitter"></i>
                            </a>
                          </li>
                          <li>
                              <a href="https://www.linkedin.com/in/lesterdan/">
                                  <i class="fa fa-linkedin"></i>
                              </a>
                          </li>
                          <li>
                            <a href="http://github.com/ideonate">
                                <i class="fa fa-github"></i>
                            </a>
                          </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">I have been a software developer and entrepreneur for over two decades, building and exiting a range of successful companies including VC-backed, bootstrapped, and agency businesses.</p>

                    <p class="large text-muted">I was the technical co-founder of Conversocial, a VC-backed company acquired by Verint (Nasdaq: VRNT) for $50m in 2021.</p>

                    <p class="large text-muted">Earlier exits include a Facebook agency business (iPlatform) sold to larger competitor Betapond; and WP-Glogin.com, a bootstrapped product business sold to a US-based portfolio company.</p>
                      
                    <p class="large text-muted">Since my last exit I have worked with a number of businesses in development and technical advisory roles, and also contributed to the open source ecosystem of data science tooling.</p>
                </div>
            </div>
        </div>
    </section>