<!-- Process Section -->
    <section id="process">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Process</h2>
                    <h3 class="section-subheading text-muted">Ideonate offers consultancy services by developer and entrepreneur Dan Lester.
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Initial Advice</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Dan will take the time to discuss your project and ensure we are the best fit for you. <br/> Advice will always be available for free at this stage.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Engagement Plan</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">As a serial entrepreneur, Dan will understand the commerical constraints of your business. <br/> He will find the simplest path to launch, seeing potential roadblocks early on and systematically eliminating them to keep on target.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Transition Plan</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">As part of the project plan itself, we will agree a plan for continued support and operation of the finished product, or transition to your own team.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
              <div class="col-lg-12 text-center" style="margin-top: 21px;">
                  <div>Ideonate can work on-site with companies in London or the Greater Cambridge area, and <br/> may also undertake remote engagements.
                  </div>
              </div>
          </div>
        </div>
    </section>